.container{
   
  }
  .imgContainer{
    width: 100%;
    height: 100px;
    position: relative;
  }
  .textContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 0;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }